*{
    box-sizing: ;
    font-family: Arial, Helvetica, sans-serif;
    

}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ef8fcf, #cfdef3);
    color: #333;
    text-align: center;


}
header {
    background-color: #180843;
    color: #fff;
    padding: 1rem;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;


}
.movie-selection{
    margin: 20px 0;

}
h1, h2, h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #2c3e50;
    margin-top: 30px;
    font-size: 2.7rem;
}
section {
 
  margin: 30px auto;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(2, 5, 32, 0.1);
  
}
.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.screen {
  background-color: #444;
  height: 30px;
  margin: 15px auto;
  width: 80%;
  border-radius: 5px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.seat {
  background-color: #444;
  height: 25px;
  width: 25px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
  border: 2px solid #444;
  cursor: not-allowed;
}

.summary {
  margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 520px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    

}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: #555;
}

button {
  background-color: #1a3857;
  color: white;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #7f9ebf;
}
p {
  margin-top: 20px;
  color: #2e7d32;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 600px) {
  section {
    width: 90%;
  }
}